<form class="container mt-5 w-50 h-60">
    <div class="card">
    <div class="card-header">
        <p>registor here</p>
    </div><br>
    <div class="card-body">
        <label for="">enter your user name</label><br>
        <input type="text" class="form-control">
        <label for="">enter your email</label><br>
        <input type="text" class="form-control">
        <label for="">enter passord</label><br>
        <input type="text" class="form-control">
        <label for="">comfirm password</label><br>
        <input type="text" class="form-control"><br>
       <a routerLink=""> <div class="button" class="btn btn-success">sign up</div></a>
    </div>
    </div>
   
</form>
